html
  font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  font-size 16px
  word-spacing 1px
  font-size 1rem
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing: border-box
  overflow-x hidden
  overflow-y hidden !important

*, *:before, *:after
  box-sizing border-box
  margin 0

body
  overflow hidden

.center-screen
  width 100%
  height 100vh
  display flex
  justify-content center
  align-items center

.screen
  width 100%
  height 100vh
  display flex
  justify-content flex-start
  align-items baseline

.el-card
  &__header
    background-color dodgerblue
    color white
    font-weight 800

  .el-form-item
    margin-bottom 26px

  .form-footer
    padding-top 10px

.el-menu-item
  a
    text-decoration none
    font-size 18px
    vertical-align middle

.menu-icon
  margin-right 2px
  margin-top -2px
  &::before
    font-size 20px

.el-container
  .el-header
    padding-left 0
    padding-right 0

.el-menu
  padding-left 10px
  padding-right 0

.logout-button
  &.el-menu-item
    padding-right 10px
    .el-button
      padding 6px 12px
      vertical-align middle
      margin-top -2px
      &:hover
        .fa
          &::before
            color white
  .fa
    padding 0
    &::before
      padding 0
      font-size 24px
      color dodgerblue
  float right !important

.profile-view,.partners-view
  max-width 1600px
  width calc(100vw - 120px)
  margin 0 60px
  height auto
  .el-form
    column-count 3
    column-gap 10px
    @media screen and (max-width: 1280px)
      column-count 2
    @media screen and (max-width: 840px)
      column-count 1

  .el-header
    padding-top 20px
    margin-bottom 10px
    padding-bottom 50px
    border-bottom 5px solid #7f828b
    h1
      color #7f828b
      text-align left
      padding-left 20px
      font-size 28px
      font-weight 800

.main-wrap
  height calc(100vh - 60px)

.el-form
  p
    text-align left
    padding-bottom 10px
    padding-left 20px
    font-size 20px
    color #aebeed
    border-bottom 1px solid #e0dfff
    margin-bottom 20px