<template>
	<el-container>
		<el-header>

			<el-menu mode="horizontal" :defaultActive="activeMenuIndex">
				<el-menu-item index="1"  @click="$router.push({path: '/profile'})">
					<span class="menu-icon fa fa-user-circle-o"></span>
					Profile
				</el-menu-item>
				<el-menu-item index="2" @click="$router.push({path: '/partners'})">
					<span class="menu-icon fa fa-handshake-o"></span>
					Partners
				</el-menu-item>
				<el-menu-item index="3" @click="$router.push({path: '/notes'})">
					<span class="menu-icon fa fa-pencil-square-o"></span>
					Notes
				</el-menu-item>
				<el-menu-item class="logout-button">
					<el-button type="primary" plain @click="logout">
						<span class="fa fa-sign-out">
						</span>
					</el-button>
				</el-menu-item>
			</el-menu>
		</el-header>
		<el-main class="main-wrap">
			<nuxt/>
		</el-main>
	</el-container>
</template>
<script>
	export default {
		computed: {
			activeMenuIndex() {
				switch (this.$route.path) {
					case '/profile':
						return '1'
						break
					case '/partners':
						return '2'
						break
					case '/notes':
						return '3'
						break
					default: return '1'
						break
				}
			}
		},
		methods: {
			logout() {
				this.$auth.reset()
				this.$router.push('/login')
			}
		}
	}
</script>
<style>
</style>
