<template>
	<div class="center-screen">
		<el-card header="Login">
			<div>
				<el-form ref="loginForm" :model="auth" label-width="120px" size="medium">
					<el-form-item label="Username" required prop="username">
						<el-input v-model="auth.username"></el-input>
					</el-form-item>
					<el-form-item label="Password" required prop="password">
						<el-input v-model="auth.password" type="password"></el-input>
					</el-form-item>
					<el-form-item size="large" class="form-footer">
						<el-button @click="$router.push('/register')">Register</el-button>
						<el-button type="primary" @click="login">Login</el-button>
					</el-form-item>
				</el-form>
			</div>
		</el-card>
	</div>
</template>
<script>
	export default {
		auth: false,
		data() {
			return {
				auth: {
					username: '',
					password: ''
				}
			}
		},
		methods: {
			login() {
				this.$axios.$get('http://188.166.14.193/auth/', this.auth)
					.then(response => {

					})
					.catch(response => {

					})
			}
		}
	}
</script>
<style>
</style>