<template>
	<div>
		<div class="screen">
			<el-container class="partners-view">
				<el-header>
					<h1>User partners</h1>
				</el-header>
				<el-main>
					<el-table :data="partners" style="width: 100%">
						<el-table-column label="Username">
							<template slot-scope="scope">
								<strong>@{{ scope.row.username }}</strong>
							</template>
						</el-table-column>
						<el-table-column label="Email address" prop="email"/>
						<el-table-column label="Status">
							<template slot-scope="scope">
								<el-tag v-if="scope.row.online" type="success" size="medium">Online</el-tag>
								<el-tag v-else size="medium" type="danger">Offline</el-tag>
							</template>
						</el-table-column>
					</el-table>
				</el-main>
			</el-container>
		</div>
	</div>
</template>
<script>
	import { serialize } from '../utils/helpers'

	export default {
		auth: false,
		layout: 'cabinet',

		/* Mock data */
    	data() {
			return {
				partners: [
					{
						username: 'vasia',
						email: 'vasia@mail.ru',
						online: 0
					},
					{
						username: 'petia',
						email: 'petia@mail.ru',
						online: 1
					},
					{
						username: 'kolia',
						email: 'nikolay@gmail.com',
						online: 1
					},
					{
						username: 'alexey',
						email: 'alexey@gmail.com',
						online: 0
					},
					{
						username: 'alexantr',
						email: 'alexantr@mail.ru',
						online: 0
					},
					{
						username: 'sergey',
						email: 'sergey@mail.ru',
						online: 1
					},
				]
			}
    },

    /* TODO: uncommet on real api
    async asyncData({ query, app, error }) {
			const params = Object.assign(query, {token: app.$auth.getToken()})
			let { partners } = await app.$axios.$get('http://188.166.14.193/user/personalPartners/?' + serialize(params))
			console.log(error)
			return { partners }
		}
		*/
	}
</script>
<style>

</style>
