<template>
	<div class="screen">
		<el-container class="profile-view">
			<el-header>
				<h1>User profile</h1>
			</el-header>
			<el-main>
				<el-form ref="profileForm" :model="profile" labelWidth="180px" size="medium">
					<p style="column-span: all">Personal data</p>
					<el-form-item prop="username" label="Username">
						<el-input v-model="profile.username"></el-input>
					</el-form-item>
					<el-form-item prop="sponsor" label="Sponsor name">
						<el-input v-model="profile.sponsor"></el-input>
					</el-form-item>
					<el-form-item prop="email" label="Email address">
						<el-input v-model="profile.email"></el-input>
					</el-form-item>
					<el-form-item prop="firstName" label="Firstname">
						<el-input v-model="profile.firstName"></el-input>
					</el-form-item>
					<el-form-item prop="secondName" label="Lastname">
						<el-input v-model="profile.secondName"></el-input>
					</el-form-item>
					<el-form-item prop="birthday" label="Birthday">
						<el-date-picker v-model="profile.birthday" placeholder="Pick a day"></el-date-picker>
					</el-form-item>
					<el-form-item prop="phoneNumber" label="Phon number">
						<el-input v-model="profile.phoneNumber"></el-input>
					</el-form-item>
					<el-form-item prop="phoneNumber2" label="Additional phone number">
						<el-input v-model="profile.phoneNumber2"></el-input>
					</el-form-item>
					<el-form-item prop="skype" label="Skype">
						<el-input v-model="profile.skype"></el-input>
					</el-form-item>
					<el-form-item prop="country" label="Country">
						<el-select v-model="profile.country" filterable placeholder="Select country">
							<el-option v-for="country in countries" :key="country.code" :label="country.name" :value="country.code"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item prop="state" label="State">
						<el-input v-model="profile.state"></el-input>
					</el-form-item>
					<el-form-item prop="city" label="City">
						<el-input v-model="profile.city"></el-input>
					</el-form-item>
					<el-form-item prop="address" label="Address">
						<el-input v-model="profile.address" type="textarea" :rows="2"></el-input>
					</el-form-item>
					<el-form-item prop="zipCode" label="Zip code">
						<el-input v-model="profile.zipCode"></el-input>
					</el-form-item>
					<el-form-item prop="site" label="Site link">
						<el-input v-model="profile.site"></el-input>
					</el-form-item>
					<el-form-item prop="odnoklassniki" label="Odnoklasniki link">
						<el-input v-model="profile.odnoklassniki"></el-input>
					</el-form-item>
					<el-form-item prop="vk" label="Vkontakte link">
						<el-input v-model="profile.vk"></el-input>
					</el-form-item>
					<el-form-item prop="fb" label="Facebook link">
						<el-input v-model="profile.fb"></el-input>
					</el-form-item>
					<el-form-item prop="youtube" label="Youtube link">
						<el-input v-model="profile.youtube"></el-input>
					</el-form-item>
					<el-form-item prop="autoExtensionBS" label="Auto extend">
						<el-switch v-model="profile.autoExtensionBS"></el-switch>
					</el-form-item>
					<el-form-item prop="showMobile" label="Show mobile">
						<el-switch v-model="profile.showMobile"></el-switch>
					</el-form-item>
					<el-form-item prop="showEmail" label="Show email">
						<el-switch v-model="profile.showEmail"></el-switch>
					</el-form-item>
					<el-form-item prop="showName " label="Show name">
						<el-switch v-model="profile.showName"></el-switch>
					</el-form-item>
					<el-form-item prop="deliveryEMail" label="Subscribe email">
						<el-switch v-model="profile.deliveryEMail"></el-switch>
					</el-form-item>
					<el-form-item prop="deliverySMS" label="Subscribe SMS">
						<el-switch v-model="profile.deliverySMS"></el-switch>
					</el-form-item>
					<el-form-item class="form-footer" style="column-span: all; margin-top: 40px">
						<el-button>
							<i class="fa fa-refresh" aria-hidden="true"></i>
							Reset
						</el-button>
						<el-button type="success">
							<i class="fa fa-save" aria-hidden="true"></i>
							Save
						</el-button>
					</el-form-item>
				</el-form>

				<el-form ref="passwordChangeForm" :model="passwords" labelWidth="180px" size="medium"
						style="columns: 1; max-width: 400px; margin-top: 20px">
					<p>Password change</p>
					<el-form-item>
						<el-radio-group v-model="passwordToChange">
							<el-radio-button label="0">Account</el-radio-button>
							<el-radio-button label="1">Financial</el-radio-button>
						</el-radio-group>
					</el-form-item>
					<el-form-item prop="oldPassword" label="Old password">
						<el-input type="password" v-model="passwords.oldPassword"></el-input>
					</el-form-item>
					<el-form-item prop="newPassword" label="New password">
						<el-input type="password" v-model="passwords.newPassword"></el-input>
					</el-form-item>
					<el-form-item prop="newPasswordConfirm" label="Password confirm">
						<el-input type="password" v-model="passwords.newPasswordConfirm"></el-input>
					</el-form-item>
					<el-form-item class="form-footer" style="margin-top: 30px">
						<el-button type="success">
							<i class="fa fa-save" aria-hidden="true"></i>
							Change password
						</el-button>
					</el-form-item>
				</el-form>
			</el-main>
		</el-container>
	</div>
</template>
<script>

	import countryList from 'country-list'

	export default {
		auth: false,
		layout: 'cabinet',
		data() {
			return {
				countries: countryList.getData().map(c => ({name: c.name, code: c.code.toLowerCase()})),
				profile: {
					username: '',
					sponsor: '',
					email: '',
					firstName: '',
					secondName: '',
					birthday: '',
					phoneNumber: '',
					phoneNumber2: '',
					skype: '',
					country: '',
					state: '',
					city: '',
					address: '',
					zipCode: '',
					site: '',
					odnoklassniki: '',
					vk: '',
					fb: '',
					youtube : '',
					autoExtensionBS: 0,
					showMobile: 0,
					showEmail: 0,
					showName : 0,
					deliveryEMail: 0,
					deliverySMS: 0
				},
				passwordToChange: 0,
				passwords: {
					oldPassword: '',
					newPassword: '',
					newPasswordConfirm: ''
				}
			}
		},
		methods: {
			saveChanges() {
				this.$axios.$put('http://188.166.14.193/user/', this.profile)
					.then(response => {
						console.log(response)
					})
					.catch(response => {
						console.log(response)
					})
			}
		}
	}
</script>
<style>

</style>