<template>
	<div class="center-screen">
		<el-card header="Register">
			<el-form ref="regForm" :model="reg" labelWidth="220px" size="medium" :rules="rules">
				<el-form-item prop="sponsor" label="Sponsor">
					<el-input v-model="reg.sponsor"></el-input>
				</el-form-item>
				<el-form-item prop="username" label="Username">
					<el-input v-model="reg.username"></el-input>
				</el-form-item>
				<el-form-item prop="email" label="Email">
					<el-input v-model="reg.email"></el-input>
				</el-form-item>
				<el-form-item prop="firstName" label="Firstname">
					<el-input v-model="reg.firstName"></el-input>
				</el-form-item>
				<el-form-item prop="secondName" label="Secondname">
					<el-input v-model="reg.secondName"></el-input>
				</el-form-item>
				<el-form-item prop="phone" label="Phone number">
					<el-input v-model="reg.phone"></el-input>
				</el-form-item>
				<el-form-item prop="country" label="Country">
					<el-select v-model="reg.country" filterable placeholder="Select country">
						<el-option v-for="country in countries" :key="country.code" :label="country.name" :value="country.code"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item ref="password" prop="password" label="Password">
					<el-input v-model="reg.password" type="password"></el-input>
				</el-form-item>
				<el-form-item prop="confirmPassword" label="Confirm password" style="margin-top: -20px">
					<el-input v-model="reg.confirmPassword" type="password"></el-input>
				</el-form-item>
				<el-form-item prop="finPassword" label="Financial password">
					<el-input ref="finPassword" v-model="reg.finPassword" type="password"></el-input>
				</el-form-item>
				<el-form-item prop="confirmFinPassword" label="Confirm password" style="margin-top: -20px">
					<el-input v-model="reg.confirmFinPassword" type="password"></el-input>
				</el-form-item>
				<el-form-item prop="skype" label="Skype">
					<el-input v-model="reg.skype"></el-input>
				</el-form-item>
				<el-form-item size="large" class="form-footer">
					<el-button @click="$router.push('login')">Login</el-button>
					<el-button type="primary" @click="register">Register</el-button>
				</el-form-item>
			</el-form>
		</el-card>
	</div>
</template>
<script>
	import countryList from 'country-list'
	import { usernameValidator, emailValidator, nameValidator, phoneValidator } from '../utils/validators'

	export default {
		auth: false,
		data() {
			return {
				countries: countryList.getData().map(c => ({name: c.name, code: c.code.toLowerCase()})),
				rules: {
					sponsor: [{ trigger: 'blur', validator: usernameValidator }],
					username: [{ trigger: 'blur', validator: usernameValidator }],
					email: [{ trigger: 'blur', validator: emailValidator }],
					firstName: [{ trigger: 'blur', validator: nameValidator }],
					secondName: [{ trigger: 'blur', validator: nameValidator }],
					phone: [{ trigger: 'blur', validator: phoneValidator }],
					password: [{ trigger: 'blur', validator: (rule, value, callback) => {
						if (!value) {
							callback(new Error(' '))
						} else {
							callback()
						}
					}}],
					confirmPassword: [{ trigger: 'blur', validator: (rule, value, callback) => {
						if (!this.reg.password) {
							callback(new Error('Enter password'))
						} else if (value !== this.reg.password) {
							callback(new Error('Passwords are different'))
						} else {
							callback()
						}
					}}],
					finPassword: [{ trigger: 'blur', validator: (rule, value, callback) => {
						if (!value) {
							callback(new Error(' '))
						} else {
							callback()
						}
					}}],
					confirmFinPassword: [{ trigger: 'blur', validator: (rule, value, callback) => {
						if (!this.reg.password) {
							callback(new Error('Enter financial password'))
						} else if (value !== this.reg.finPassword) {
							callback(new Error('Passwords are different'))
						} else {
							callback()
						}
					}}]
				},
				reg: {
					sponsor: 'testareg1',
					username: 'ampulex',
					email: 'frwalkr@gmail.com',
					firstName: 'Igor',
					secondName: 'Nikitin',
					phone: '9673201280',
					country: 'ru',
					password: '123456',
					confirmPassword: '123456',
					finPassword: '123456',
					confirmFinPassword: '123456',
					skype: ''
				}
			}
		},
		methods: {
			register() {
				const data = this.reg
				delete data.confirmPassword
				delete data.confirmFinPassword
				if (!data.skype) {
					delete data.skype
				}
				this.$axios.$post('http://188.166.14.193/user/', data)
					.then(response => {
						console.log(response)
					})
					.catch(response => {
						console.log(response)
					})
			}
		}
	}
</script>
<style>
</style>